.root {
  box-sizing: border-box;
  width: 50%;
  margin: 0 auto;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #357b4e26;
  padding: 0 10px;
}

.root button {
  background-color: #76ce72;
  width: 50px;
  height: 42px;
  border-radius: 10px;
}

.notesContainer {
  margin: 0 auto;
  width: 85%;
  height: 100px;
  background-color: #ff000000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.notesContainer span {
  padding: 5px 5px;
  border: solid #50c764b8 2px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
}

.notesContainer .currentNote {
  background-color: #76ce72;
}

.hiddenNote { 
  visibility: hidden;
  position: absolute; 
  top: -9999px; 
  left: -9999px;
}

@media screen and (max-width: 600px) {
  .root {
    width: 100%;
    padding: 0 8px;
  }

  .root button {
    width: 35px;
    height: 35px;
    padding: 0;
  }
}